.map-container-7{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-7 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;        
    }

    .card {
        margin-left: 16%;
    }
    
    .searchvis {
        border: 2px solid black;
        display: inline-block;
        position: fixed;
        padding: 10px;
        visibility: visible;
    }

    .searchinvis {
        visibility: hidden;
        margin-top: 2%;
    }

    .resultInvisOne {
        visibility: hidden;
        border: 2px solid black;
        overflow: auto;
        width: 90%;
        display: block;
        margin: 10px auto;
        padding: 20px;
        height: 80vh;
    }

    .resultInvisTwo {
        visibility: hidden;
        border: 2px solid black;
        overflow: auto;
        width: 90%;
        display: block;
        margin: 10px auto;
        padding: 20px;
        height: 80vh;
    }


    .resultVisOne {
        visibility: visible;

    }

    .resultVisTwo {
        visibility: visible;

    }

    input {
        display: block;
        margin: 10px;
    }

    .container {
        border: 2px solid black;
        overflow: auto;
        width: 90%;
        display: block;
        margin: 10px auto;
        padding: 20px;
        height: 80vh;
    }

    h2 {
        text-align: center;

    }

    p {
        text-align: center;
    }

    .thumbnail {
        height: 200px;
        width: 200px;
        border-radius: 100%;
        float: left;
    }

    .address {
        margin-bottom: 120px;
    }

    .card {
        height:40%;
        width: 100%;
    }